html, body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: auto;
    overflow: hidden;
}
body {
    display: flex;
    flex-direction: column;
}
#nav > a {
    font-size: smaller;
    float: right;
    margin-top: 2px;
    margin-left: 1ch;
}

/* Info modal (currently not used) */
#infoModalBase {
    display: none;
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
#infoModal {
    background-color: #fefefe;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    max-height: 80vh;
    border: 1px solid #888;
    width: 80%;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
}
#infoModal > div {
    padding: 10px;
}
#infoHeader {
    background-color: #f0f0f0;
    flex: 0 1 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#infoHeaderContent {
    flex: 1 1 auto;
}
#infoClose {
    flex: 0 1 auto;
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
}
#infoClose:hover,
#infoClose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#infoBodyContent {
    flex: 1 1 auto;
    overflow-y: auto;
}

/* Loading animation */
#loadingDiv {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    pointer-events: none;
}
#loadingAnimation {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid rgba(255,255,255,.3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
}
@keyframes spin {
    to { transform: rotate(360deg); }
}

#top {
    flex: 0 1 auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media (max-width: 80em) {
    #top {
        font-size: smaller;
    }
}
#titleDiv {
    flex: 1 1 auto;
}
#titleDiv > * {
    margin: 0;
}
/* #titleImg { */
/*     height: 100%; */
/* } */
#titleValidSymbol {
    text-decoration: underline;
    text-decoration-style: dotted;
}

#logoDiv {
    flex: 0 0 auto;
}
#logo {
    margin: 2px;
    height: 50px;
}
@media (max-width: 60ch) {
    #logo {
        height: 35px;
    }
}

#mapAndScale {
    flex: 1 1 auto;
    min-height: 0; /* This is important! Lets the scale shrink to remaining height */
    display: flex;
    flex-direction: row;
}
#map {
    flex: 1 1 auto;
    height: 100%;
    width: 100%;
}

.imagePopup {
    width: 550px;
    height: 550px;
}
@media (orientation: portrait) {
    .imagePopup {
        max-width: 70vw;
        height: auto;
    }
}
@media (orientation: landscape) {
    .imagePopup {
        width: auto;
        max-height: 60vh;
    }
}

#sideScaleDiv {
    flex: 1 1 auto;
    width: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#bottomScaleDiv {
    flex: 0 1 auto;
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
}

.scaleUnit, .scaleMax, .scaleMin {
    text-align: center;
    padding: 5px;
}

.scaleUnit {
    font-weight: bold;
}

.sideScaleCanvasDiv {
    flex: 1 1 auto;
    position: relative;
    min-height: 0; /* I hate CSS */
    height: 100%;
}

.bottomScaleCanvasDiv {
    flex: 1 1 auto;
    position: relative;
    width: 100%;
}

.sideScaleCanvasDiv > canvas, .bottomScaleCanvasDiv > canvas {
    width: 100%;
    height: 100%;
}

.sideScaleIndicator {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
}

.sideScaleIndicatorMarker {
    width: 100%;
    height: 3px;
    background-color: black;
}

.sideScaleIndicatorValue {
    position: absolute;
    right: 105%;
    bottom: 0;
    z-index: 1000;
    background-color: rgba(255,255,255,0.9);
}

.bottomScaleIndicator {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.bottomScaleIndicatorMarker {
    width: 3px;
    height: 100%;
    background-color: black;
}

.bottomScaleIndicatorValue {
    position: absolute;
    bottom: 100%;
    left: 0;
    z-index: 1000;
    background-color: rgba(255,255,255,0.9);
}

@media (orientation: landscape) {
    #bottomScaleDiv {
        display: none;
    }
}
@media (orientation: portrait) {
    #sideScaleDiv {
        display: none;
    }
}

.leaflet-container .leaflet-control-attribution {
    padding: 2px 6px;
    background: rgba(255, 255, 255, 0.9);
}
.leaflet-container .leaflet-control-attribution.leaflet-compact-attribution {
    width: auto !important;
    margin: 10px 44px 0 10px;
    padding: 7px;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.9);
    visibility: hidden;
}
.leaflet-compact-attribution-label:after {
    content: 'ⓘ';
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 50%;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
    visibility: visible;
}
.leaflet-compact-attribution-toggle, .leaflet-compact-attribution-label {
    display: none;
}
.leaflet-compact-attribution ~ .leaflet-compact-attribution-label {
    display: block;
}
.leaflet-compact-attribution-toggle:checked ~ .leaflet-control-attribution.leaflet-compact-attribution {
    visibility: visible;
}

.leaflet-control-layers {
    margin-right: 60px;
    max-width: 80ch;
}
.leaflet-control-layers-expanded {
    padding: 6px;
}
.rasp-control .leaflet-control-layers-toggle {
    background-image: url(img/rasp_control.svg);
}
.parameterSelect {
    /* Mind the space occupied by the parameter toggle button */
    width: calc(100% - 3em);
}
.parameterDiv > details {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
}
.parameterDescription {
    display: inline-block;
    max-height: 8em;
    overflow-y: auto;
}
.leaflet-container a.leaflet-control-collapse-button {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0;
    border: none;
    text-align: center;
    width: 18px;
    height: 14px;
    font: 16px/14px Tahoma, Verdana, sans-serif;
    font-weight: normal;
    color: #c3c3c3;
    text-decoration: none;
    font-weight: bold;
    background: transparent;
}
.leaflet-container a.leaflet-control-collapse-button:hover {
    color: #999;
}

.leaflet-control-valueindicator {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0 5px;
    margin: 0 !important;
    color: #333;
}

.icon {
    padding-left: 2px;
    padding-right: 2px;
    width: 1em;
    height: 1em;
    vertical-align: middle;
}

@media (max-width: 800px) {
    .leaflet-control-zoom {
        display: none;
    }
}
